<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycloudapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAcount"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAWSAcount"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD_AWS_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddGoogleAcount"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD_GOOGLE_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAzureAcount"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD_AZURE_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccountInfo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNT_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainAWSActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.AWS_MAIN_DASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainAZUREActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.AZURE_MAIN_DASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainGOOGLEActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GOOGLE_MAIN_DASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>